body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    width: 100%;
    background-color: #ffffff;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 0rem;
    color: #fff;
}

nav .logo {
    font-size: 1.rem;
    width: 30%;
}

nav .logo img {
    padding-top: 0px;
    width: 130px;
}

.nav-links {
    list-style-type: none;
    display: flex;
}

.nav-links li a {
    padding: 10px;
    text-align: center;
    font-size: 14sp;
    color: #ec6964;
    margin-left: 1rem;
    cursor: pointer;
    border: 0 solid;
    text-decoration: none;
}

.nav-links li:hover {
    background-color: #ec6964;
    border-radius: 4px;
    text-align: center;
}

.nav-links li:hover a {
    color: #ffffff;
}

.contents {
    min-height: 100vh;
    background-color: #ffffff;
}

.row {
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    padding-top: 1rem;
    margin: 0 auto;
}

.content-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 50%;
    margin-top: 80px;
}

.content-wrapper p {
    margin: 0;
    margin-bottom: 30px;
}

.btn {
    padding: 18px 34px;
    font-size: 18px;
    font-weight: 700;
    display: inline-block;
    margin-right: 24px;
    margin-bottom: 24px;
    color: #fff;
    background-color: #ec6964;
    border-color: #ec6964;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    line-height: 1.5;
    border-radius: 0.25;
}

a {
    color: #007bff;
    text-decoration: none;
    background-color: transparent;
}

.content-wrapper img {
    width: 90%;
    margin: 0 auto;
    padding-left: 250px;
}

.picture img {
    margin-top: 50px;
    margin-left: 150px;
    width: 300px;
    height: 300px;
}